extends layout

block title
    title= 'Web server behind HA Proxy'
    div(class='center-div')
        div
            h3 Requesting IP address
            p #{origin}
        div
            h3 HA Proxy server address
            p #{haProxy}
        div
            h3 Server IP address
            p #{webServer}
        div
            h3 header info
            p #{headerInfo}
